* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}
.wrapper {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-content {
  border-bottom: 2px solid rgb(177, 177, 177);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
form {
  background-color: rgb(138, 43, 226);
  box-shadow: 0px 0px 19px -2px;
  display: flex;
  gap: 5px;
  height: 50px;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 15px;
  padding: 25px;
  border-radius: 40px;
  margin-top: 16px;
}
.sort-button {
  background-color: rgb(138, 43, 226);
  border: none;
  font-weight: bold;
  width: 100%;
  padding: 8px;
}
button:hover {
  background-color: white;
  cursor: pointer;
}
.sort {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}
input {
  margin-right: 10px;
}

.shelf {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  width: 799px;
  padding-top: 10px;
}

.shelf-1 {
  border-top: 5px solid #888888;
  border-right: 5px solid #888888;
  border-left: 5px solid #888888;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 19px -2px;
}
.shelf-2 {
  border: 5px solid #888888;
  box-shadow: 0px 0px 19px -2px;
}
.legs {
  border-right: 8px solid #888888;
  border-left: 8px solid #888888;
  height: 30px;
}

.book {
  border: 1px solid;
  width: 100px;
  height: 252px;
  border-radius: 4px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 3px -3px 0px 0px;
  display: grid;
}
.book:hover {
  transform: scale(1.32);
}
.book-title {
  margin-bottom: 1px;
  border-bottom: 1px solid black;
}
.book-year {
  font-style: italic;
}
.book-id {
  font-size: xx-small;
}
.book-author {
  font-size: xx-small;
}

.book-result {
  display: none;
}

/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the select element */
#sort-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Style for the checkboxes container */
.checkboxes {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 148px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Show checkboxes when the select is clicked */
.dropdown:hover .checkboxes {
  display: block;
}

/* Style for the checkboxes label */
label.sort {
  display: block;
  padding: 10px;
}

/* Style for the checkboxes input */
label.sort input {
  position: absolute;
  right: 0;
}

.search {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.search input {
  border-radius: 10px;
  border: unset;
  text-align: center;
}
.search button {
  background-color: white;
  border: unset;
  border-radius: 10px;
}
.search button:hover {
  transform: scale(1.02);
}

.clear {
  text-decoration: none;
  align-self: center;
  margin-left: 10px;
  color: #f9f9f9;
}
.clear:hover {
  color: black;
}

@media screen and (max-width: 725px) {
  .book {
    width: 14%;
    font-size: 13px;
  }
}
@media screen and (max-width: 489px) {
  .nav-content {
    width: 480px;
  }
  form {
    height: auto;
    border-radius: unset;
    box-shadow: unset;
    width: auto;
    margin: unset;
  }
  .search {
    margin-left: unset;
  }
  .clear {
    position: relative;
    left: 91px;
    font-size: x-large;
    bottom: 14px;
    border: 2px solid white;
    padding: 5px;
    border-radius: 25px;
  }
  .wrapper {
    width: 466px;
    margin: 3px;
  }
  .book {
    width: 14%;
    font-size: 10px;
  }
}
